.container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.8rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
}

.nav-link{
    text-decoration: none;
    color: black;
    margin: 0 0.3rem;
}